doctype html
html
  head
    title Photographer Stebeneva Mariana
    meta(charset='utf-8')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/default.css', rel='stylesheet', type='text/css')
    link(href='css/admin.css', rel='stylesheet', type='text/css')
    script(src='js/jquery.js', type='text/javascript')
    script(src='js/jquery.ui.js', type='text/javascript')
    script(src='js/bootstrap.js', type='text/javascript')
    script(src='js/default.js', type='text/javascript')
    script(src='js/admin.js', type='text/javascript')
    script.
      var conf = !{JSON.stringify(conf)};
  body
    #slide.modal.hide
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        img
      .modal-footer
        label.checkbox.inline.pull-left
          input(type='checkbox')
          |  Show on frontpage
        a.btn.btn-danger.delete Delete
    ul.nav.nav-pills
    .slides.tab-content
