extends layout
block content
  .text
    p
      | Stebeneva Mariana 
      br
      |   Saint-Petersburg, Russia, Whatsapp +7 9046464542
      br
      |   Israel, +972 546594259
    ul
      li
        a(href='mailto:stebeneva.maryana@gmail.com') stebeneva.maryana@gmail.com
      li
        a(href='http://facebook.com/stebeneva', target='_blank') facebook.com/stebeneva
      li
        a(href='http://vk.com/stebeneva', target='_blank') vk.com/stebeneva
