doctype html
html
  head
    title Photographer Stebeneva Mariana
    meta(charset='utf-8')
    link(href='/res/galleria/galleria.css', rel='stylesheet', type='text/css')
    link(href='/res/index.css', rel='stylesheet', type='text/css')
    link(href='/res/common.css', rel='stylesheet', type='text/css')
    link(href='/css/default.css', rel='stylesheet', type='text/css')
    link(href='/css/index.css', rel='stylesheet', type='text/css')
    script(src='/js/jquery.js', type='text/javascript')
    script(src='/js/jcycle.js', type='text/javascript')
    script(src='/res/jquery.hotkeys.js', type='text/javascript')
    script(src='/res/galleria/jquery.galleria.js', type='text/javascript')
    script(src='/res/jquery.scrollimages.js', type='text/javascript')
    script(src='/js/default.js', type='text/javascript')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23443151-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .container
      .head
        a(href='/') Mariana Stebeneva
      .nav
        .left
          ul
            li
              a.studio(href='/photo/studio', title='Studio') Studio
            li
              a.portrait(href='/photo/portrait', title='Portrait') Portrait
            li
              a.reportage(href='/photo/reportage', title='Reportage') Reportage
            li
              a.models(href='/photo/models', title='Models') Models
            li
              a.travel(href='/photo/travel', title='Travel') Travel
        .right
          ul
            li
              a.contact(href='/contact', title='contact') contact
        .balance
      .content
        block content
