extends layout
block content
  - var i = 0;
  script(src='/js/photo.js')
  #main
    #middle_container
      #main_image
    .clear
    #scroller_container
      img#left_arrow.hide(src='/res/left.png', alt='Scroll left', title='Scroll left')
      #image_scroller
        ul#thumbnails_container.thumbnails_unstyled
          each show, file in conf[section]
            - i++;
            li(class=(i === 1 ? 'active' : ' '))
              a(href='/photos/' + section + '/slides/' + file)
                img(src='/photos/' + section + '/thumbs/' + file, style='width:56px; height:56px;')
        .clear
      img#right_arrow.hide(src='/res/right.png', alt='Scroll right', title='Scroll right')
      .clear
    .clear
  .clear
