@font-face {
  font-family: 'Futuris';
  src: url('fonts/futuris.eot');
  src: local('☺'), url('fonts/futuris.svg') format('svg'), url('fonts/futuris.eot') format('embedded-opentype'), url('fonts/futuris.woff') format('woff'), url('fonts/futuris.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-family: 'Futuris', Helvetica;
  font-size: 18px;
  color: #3a3838;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #9a9a9a;
  text-decoration: none;
  outline: none;
}

.container {
  width: 840px;
  margin: 15px auto;
}

.head {
  margin: 19px 11px 0 11px;
}

.head a {
  display: block;
  color: #aa0000;
  font-size: 38px;
  text-transform: uppercase;
  text-align: left;
}

.content {
  width: 675px;
  margin: 10px 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav {
  background-color: #f0f0f0;
  padding: 9px 10px 5px 10px;
  overflow: auto;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
}

.left ul li {
  margin-right: 8px;
}

.right ul li {
  margin-left: 8px;
}

.nav ul li a {
  display: block;
}
