body {
  font-family: Helvetica;
  padding: 20px;
}

.nav li {
  font-weight: bold;
}

.close {
  margin-top: -5px;
  margin-bottom: 20px;
}

.modal-body {
  max-height: 480px;
}

.modal-body img {
  display: block;
  margin: 0px auto;
}
