doctype html
html
  head
    title Photographer Stebeneva Mariana
    meta(charset='utf-8')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet', integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
    link(href='/css/default.css' rel='stylesheet')
    link(href='/admin/index.css' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js' integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/underscore@1.12.1/underscore-min.js' integrity='sha256-MCZpKKzIUs07tvMP9rxRrAMbmWOuO0DX82OdEhL74Ns=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/superagent@6.1.0/dist/superagent.min.js' integrity='sha256-xsOV53xMSWYeU8C5sPBytd/YogIcYImuA13Mtf4Hpu4=' crossorigin='anonymous')
    script(src='/admin/index.js')
    script.
      var conf = !{JSON.stringify(config.section)}
  body
    #slide.modal.hide
      .modal-body
        button.close(type='button', data-dismiss='modal') ×
        img
      .modal-footer
        label.checkbox.inline.pull-left
          input(type='checkbox')
          |  Show on frontpage
        a.btn.btn-danger.delete Delete
